*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sauce two;
}

header, section{
    overflow-x: hidden;
}

a{
    color:  black !important;
    font-size: 1em;
    font-weight: 500;
}


.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: rgb(0, 0, 0);
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}


.nav-item:last-child{
    padding-right: 12.5em;
}

.nav-item{
    padding: 0.9em;
}

.navbar-brand{
    padding-left: 11em;
}

.navbar-brand img{
    width: 32%;
}

/* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 70px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 20px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 55%;
}


.four-picture{
    margin-top: 4vmin;
    margin-left: 70vmin;
    
}

.four-picture:hover{
    cursor: pointer;
}

.btn9{
    margin-left:15vmin;
    width: 70%;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    background: rgb(63, 138, 63);
    color: white;
    border: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}

.btn9:hover{
    color: white;
    background: rgb(63, 138, 63);
    cursor: pointer;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}




footer{
    background: #2B1D03;
}

.start{
    color: white;
    margin-right: 70vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-left: 21vmin;
    margin-top: 15vmin;
}

.ad{
    font-size: 35px;
    color: white;
    margin-top: 10vmin;
    font-family: abhaya libre;
}

.office{
    color: white;
    font-size: 20px;
    font-family: open sauce two;
    font-weight: 100;
    padding-top: 2vmin;
}

.foots{
    margin-left: -13vmin;
    margin-right: 10vmin;
}

.input-group input{
    height: 6vmin;
    background: rgb(205, 204, 206);
    outline: none;
    border-radius: none;
    border: none;
}

.btn4{
    margin-top: 3vmin;
    width: 35%;
    height: 6vmin;
    border: none;
    border-radius: none;
    outline: none;
    cursor: pointer;
    font-family: abhaya libre;
    font-size: 20px;
}

.icon{
    margin-top: 8vmin;
    margin-bottom: 5vmin;
}

.icon i{
    color: white;
    padding: 1vmin;
    font-size: 20px;
}



@media(max-width: 768px){

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }



* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 50px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 25px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 70% !important;
}


.four-picture{
    margin-top: 4vmin;
    margin-left: 31vmin !important;
    
}

.four-picture:hover{
    cursor: pointer;
}

.btn9{
    margin-left:4vmin !important;
    width: 140% !important;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    background: rgb(63, 138, 63);
    color: white;
    border: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}

.btn9:hover{
    color: white !important;
    background: rgb(63, 138, 63) !important;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}



/* Section5 */

footer{
    background: #2B1D03 !important;
}

.start{
    color: white;
    margin-right: 70vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-left: 3vmin;
    margin-top: 15vmin;
}

.ad{
    font-size:18px;
    color: white;
    margin-top: 10vmin;
}

.office{
    font-size: 12px;
    color: white;
}

.foots{
    margin-left: -6vmin;
    margin-right: 4vmin;
}


.btn4{
    
    width: 55%;

}

}


@media(max-width: 1024px){
    .navbar-brand{
        padding-left: 1em;
    }
    .icon-align-right{
        color: black;
    }

    .nav-item:last-child{
        padding-right: 2em;
    }

    .nav-item{
        padding: 2em;
    }


    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 60px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 29px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 65%;
}


.four-picture{
    margin-top: 4vmin;
    margin-left: 40vmin;
    
}

.four-picture:hover{
    cursor: pointer;
}

.btn9{
    margin-left:13vmin;
    width: 80% !important;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    background: rgb(63, 138, 63);
    color: white;
    border: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}

.btn9:hover{
    color: white !important;
    background: rgb(63, 138, 63) !important;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}



/* Section5 */

footer{
    background: #2B1D03 !important;
}

.start{
    color: white;
    margin-right: 70vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-left: 3vmin;
    margin-top: 15vmin;
}

.ad{
    font-size:27px;
    color: white;
    margin-top: 10vmin;
}

.office{
    font-size: 16px;
    color: white;
}

.foots{
    margin-left: -6vmin;
    margin-right: 4vmin;
}


.btn4{
    
    width: 55%;
}

}


@media(max-width: 320px){
    .navbar-toggler{
        margin-top: -15vmin;
        margin-left: 77vmin;
    }

    .nav-item{
        padding: 0.3em;
        margin-left: 5vmin;
    }
    
    
    .navbar-brand img{
        width: 21%;
    }
    

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }


    
    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 29px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 15px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 55%;
}


.four-picture{
    margin-top: 4vmin;
    margin-left: 34.5vmin !important;
    
}

.four-picture:hover{
    cursor: pointer;
}

.btn9{
    margin-left: -2vmin !important;
    width: 135% !important;
    height: 40px !important;
    font-size: 15px !important;
    font-weight: 300;
    background: rgb(63, 138, 63);
    color: white;
    border: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}

.btn9:hover{
    color: white !important;
    background: rgb(63, 138, 63) !important;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}



      /* Section5 */

      footer{
        background: #2B1D03 !important;
    }
    
    .start{
        color: white;
        margin-right: 60vmin;
        font-size: 28px;
        margin-bottom: -1vmin;
    }
    
    .section5{
        margin-top: 15vmin;
    }
    
    .ad{
        font-size:18px;
        color: white;
        margin-top: 10vmin;
    }
    
    .office{
        font-size: 13px;
        color: white;
    }
    
    .foots{
        margin-left: -2vmin;
        margin-right: 14vmin;
    }
    
    .input-group input{
        height: 12vmin;
    }
    
    
    .btn4{
        width: 55%;
        height: 10vmin;
        margin-bottom: 10vmin;
    }
    
}


@media(max-width: 375px){

    .navbar-toggler{
        margin-top: -15vmin;
        margin-left: 77vmin;
    }

    .nav-item{
        padding: 0.3em;
        margin-left: 5vmin;
    }
    
    
    .navbar-brand img{
        width: 21%;
    }
    

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }

    
    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 35px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 18px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 55%;
}


.four-picture{
    margin-top: 4vmin;
    margin-left: 36vmin !important;
    
}

.four-picture:hover{
    cursor: pointer;
}

.btn9{
    margin-left:-2.5vmin !important;
    width: 135% !important;
    height: 40px !important;
    font-size: 15px !important;
    font-weight: 300;
    background: rgb(63, 138, 63);
    color: white;
    border: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}

.btn9:hover{
    color: white !important;
    background: rgb(63, 138, 63) !important;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}




      /* Section5 */

      footer{
        background: #2B1D03 !important;
    }
    
    .start{
        color: white;
        margin-right: 60vmin;
        font-size: 28px;
        margin-bottom: -1vmin;
    }
    
    .section5{
        margin-top: 15vmin;
    }
    
    .ad{
        font-size:18px;
        color: white;
        margin-top: 10vmin;
    }
    
    .office{
        font-size: 13px;
        color: white;
    }
    
    .foots{
        margin-left: -2vmin;
        margin-right: 14vmin;
    }
    
    .input-group input{
        height: 12vmin;
    }
    
    
    .btn4{
        width: 55%;
        height: 10vmin;
        margin-bottom: 10vmin;
    }

}



@media(max-width: 425px){

    .navbar-toggler{
        margin-top: -13vmin;
        margin-left: 83vmin;
    }

    .nav-item{
        padding: 0.3em;
        margin-left: 5vmin;
    }
    
    
    .navbar-brand img{
        width: 21%;
    }
    

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }


    
    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 40px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 20px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 55%;
}


.four-picture{
    margin-top: 4vmin;
    margin-left: 36vmin !important;
    
}

.four-picture:hover{
    cursor: pointer;
}

.btn9{
    margin-left:-1vmin !important;
    width: 140% !important;
    height: 40px !important;
    font-size: 15px !important;
    font-weight: 300;
    background: rgb(63, 138, 63);
    color: white;
    border: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}

.btn9:hover{
    color: white !important;
    background: rgb(63, 138, 63) !important;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    border-color: none !important;
    border-radius: none !important;
}


    
footer{
    background: #2B1D03 !important;
}

.start{
    color: white;
    margin-right: 60vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-top: 15vmin;
}

.ad{
    font-size:22px;
    color: white;
    margin-top: 10vmin;
}

.office{
    font-size: 13px;
    color: white;
}

.foots{
    margin-left: -2vmin;
    margin-right: 14vmin;
}

.input-group input{
    height: 12vmin;
}


.btn4{
    width: 55%;
    height: 10vmin;
    margin-bottom: 10vmin;
}

}